# Compiled Object files
*conhistory.txt

pc/req/source/fteqcc\.log

pc/conhistory.txt

pc/req/iplog.txt

*.dat

# Map ignores
pc/req/maps/*.map
*.max
*.rmx
*.rmf
*.jmf
*.jmx
*.lin
*.log
*.p0
*.p1
*.p2
*.p3
*.prt
*.pts
*.wic
*.bnk
